*{
    margin: 0;
    padding: 0;
}
header {
    height: 50px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.cart {
    display: flex;
}
.products {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.cart-block {
    position: absolute;
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    right: 0;
}
.cart-item{
    display: flex;
}
.cart_product_block{
    display: flex;
}
.product_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}
img{
    cursor: pointer;
    transition: all .3s;
}
img:hover{
    transform: scale(1.05);
}
.price_pad {
    padding: 20px 0;
}
.buy_btn,
.btn_cart {
    background-color: #cccccc;
    border-radius: 10px;
    padding: 3px 7px;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid #cccccc;
}
.buy_btn:hover, .btn_cart:hover {
    background-color: #fff;
}
.right_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(243, 243, 243);
    width: 60px;
}